body{
color:black;
	background-color:black;
}


#wrapper{
	width:750px;
	margin:0 auto;
	background-color:yellow;
}

#header{
	background-color:red;
	height:60px;
	text-align:center;
	padding-top: 10px;
  padding-left:60px;
	font-family: serif;
	font-size: 18px;

}

#header2{
	background-color:yellow;
	height:40px;
	text-align:center;

	padding-left:60px;
	font-family:serif;
	font-size: 18px;


}
.logo{
	height: 40px;
	width: 60px;
	float:right;
	padding-top:60px;
	position: relative;
	padding-left:5px;
	right:345px;

}

#leftbody{
	float:left;
	width:190px;
	height:500px;
	background-color:#D9E9E9;
	padding-top:20px;
	border: black 1px solid;
	text-align:center;
	font-weight: bold;
	font-family: sans-serif;
  color:Black;
  text-decoration: underline;
	font-size: 15px;
}
#rightbody{
	float:right;
	width:190px;
	height:500px;
	background-color:#D9E9E9;;
	padding-top:20px;
	border: black 1px solid;
	text-align:center;
	font-weight: bold;
	font-family: sans-serif;
	font-size: 15px;
	text-decoration:underline;
}


#content{
	width:750px;
	height: 500px;
	padding-top:20px;
	background-color:white;
	text-align: center;
	font-weight: bold;
	font-family: sans-serif;
	font-size: 15px;
	color:red;
	text-decoration:underline;

}

#bottom{
	height:50px;
	width:500px;
	text-align: center;
	font-size: 10px;
	padding-top: 10px;
	padding-left:130px;
	clear:both;
	background-color:yellow;
	font-weight: bold;
	font-family:serif;
}
